<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="404 contents">
       <h1>OPPS! Error 404: PAGE NOT FOUND :( </h1>     
    </div>
    <%- include("./partials/footer.ejs") %> 
</body>
</html>