<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %> 
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about contents">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam veritatis, impedit itaque eius, deleniti perspiciatis commodi odio quis sint porro culpa. Porro amet a cum alias ipsum voluptate nulla vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam veritatis, impedit itaque eius, deleniti perspiciatis commodi odio quis sint porro culpa. Porro amet a cum alias ipsum voluptate nulla vitae?</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam veritatis, impedit itaque eius, deleniti perspiciatis commodi odio quis sint porro culpa. Porro amet a cum alias ipsum voluptate nulla vitae?</p>
    </div>
    <%- include("./partials/footer.ejs") %> 

</body>
</html>